/**
 *
 *
 * @@@ Description
 * 
 * @@@ Params
 *
 *
 * @@@ Usage
 *
 * - Less Example
 *
 * - Css Output
 *
 *
 * @@@ Notes
 * You can find more information about display property at https://developer.mozilla.org/en-US/docs/Web/CSS/transform?v=control
 * 
 *
 */

.scale (@factor) {
	-webkit-transform: scale(@factor);
	-moz-transform: 	 scale(@factor);
	-ms-transform: 		 scale(@factor);
	-o-transform: 		 scale(@factor);
}