/**
 * Disable Link
 */
 
.is-disabled(@opacity: 0.5; @color: red) {
	cursor: not-allowed;
	opacity: @opacity;
	
	& > a {
		color: @color;
		display: inline-block;  /* For IE11/ MS Edge bug */
		pointer-events: none;
		text-decoration: none;
	}
}
