/*
*
* Usage:
*

.container {
  .flex-row(wrap); // This will set the container to use a row direction for its items
}

.container-column {
  .flex-column(wrap); // This will set the container to use a column direction for its items
}

*
*/

// Flex Row Mixin
.flex-row(@wrap: nowrap) {
	display: flex;
	flex-direction: row;
	flex-wrap: @wrap;
}

// Flex Column Mixin
.flex-column(@wrap: nowrap) {
	display: flex;
	flex-direction: column;
	flex-wrap: @wrap;
}
